<html>
    <head>
        <title>Vendezon Storage System (VSS)</title>
    </head>
    <body style="background:#9957f9">
        <form method="post" action="" enctype="multipart/form-data">
            <input name="files" type="file" multiple>
            <select name ="attach_for">
                <option value="profile">Profile</option>
                <option value="product">Product</option>
            </select>
            <button type="submit">Submit</button>

        </form>
        <img width="400px" height="auto" src="http://localhost:8000/w/564/MTgwMzJlYzMtYmE4YS00YzRiLTg1ZmYtNDkzMzk1ZTA5M2RmLndlYnAudzMwMC5oMzAwLmZmZmZmZg==">
    </body>
</html>